<div class="slider-container">
  <% user.trips.last.moments.each do |moment| %>
  <div class="slide">
    <div class="Feed-card">
      <div class="Feed-card-header">
        <div class = "feed-card-user-description">
          <%= cl_image_tag moment.user.avatar.key, class: "Feed-card-user-image"%>
          <a class="Feed-card-user-name"> <%= moment.user.username %> </a>
        </div>
    <div class="Feed-card-location">
      <i class="fa-solid fa-location-dot"></i>
        <strong><%= moment.nearest_city %></strong>
    </div>
  </div>
    <%= cl_image_tag moment.photo.key, class: "Feed-card-location-image"%>
  <% end %>
  </div>
  </div>
</div>
