<div class="Feed-card">
  <div class="Feed-card-header">
    <div class = "feed-card-user-description">
      <%= cl_image_tag user.avatar.key, transformation: [ width: 50, crop: "scale", dpr: "auto", responsive: "true", responsive_placeholder: "blank" , fetch_format: :auto ], class: "Feed-card-user-image"%>
      <a class="Feed-card-user-name"> <%= user.username %> </a>
    </div>
  </div>
  <div class="swiper" data-controller="swiper">
    <div class="swiper-wrapper">
      <% user.trips.last.moments.each do |moment| %>
        <div class="swiper-slide">
          <div class="photo_feed">
            <%= cl_image_tag moment.photo.key, transformation: [ width: :auto, crop: "scale", dpr: "auto", responsive: "true", responsive_placeholder: "blank" , fetch_format: :auto ], class: "Feed-card-location-image"%>
            <div class="Feed-card-location">
              <i class="fa-solid fa-location-dot"></i>
              <strong><%= moment.nearest_city %></strong>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
