<body>
  <div class="Feed-card">
    <div class="Feed-card-header">
      <img src="https://kitt.lewagon.com/placeholder/users/wissam-nsr" class="Feed-card-user-image">
      <a class="Feed-card-user-name" href="__"> user.name </a>
      <div class="Feed-card-location">
      <i class="fa-solid fa-location-dot"></i>
      <strong>Location</strong>, 1km
      </div>
    </div>

    <div class="Feed-card-image">
      <img src= "https://static.independent.co.uk/2022/06/17/16/iStock-178749367%20%281%29.jpg" class="Feed-card-location-image">
    </div>
</body>
</html>
