<div class="feed_top">
<h3>Location</h3>
<p> <strong>252 travelpals</strong> around you </p>
<div class="dropdown feed-top-dropdown">
  <button class="btn btn-secondary dropdown-toggle feed-top-dist-dropdown-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    5 km radius
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">10 km</a></li>
    <li><a class="dropdown-item" href="#">30 km</a></li>
    <li><a class="dropdown-item" href="#">50 km</a></li>
  </ul>
</div>
</div>
