// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$body-font: "Poppins", "Helvetica", "sans-serif";
$headers-font: "Hepta Slab", "Helvetica", "sans-serif";

// span, p {
//   font-size: 1.2rem;
// }

$font-size-base: 62.5% !important;
