<div class="d-flex p-3">
    <% @my_chatrooms.each do |chatroom| %>
      <%= link_to chatroom_path(chatroom) do %>
        <%= cl_image_tag chatroom.user_two == current_user ? chatroom.user_one.avatar.key : chatroom.user_two.avatar.key, height: 30, width: 30, alt: "avatar", class:"avatar avatar-bordered m-2" %>
        <%= chatroom.messages.last&.content %>
      <% end %>
    <% end %>
  </ul>
</div>
