<div>
  <% trips.each do |trip| %>
    <%= cl_image_tag trip.photo.key, alt: "Photo for the trip '#{trip.name}'" %>
    <h5><%= trip.name %></h5>
    <p><%= trip.description %></p>
  <% end %>
</div>

