<div class = "long-card">
  <div class = "flex-left">
    <%= render "components/avatar", user: @user %>
    <h5><strong><%= user.username %></strong></h5>
  </div>
  <p><%= user.description %></p>
</div>
