<div style="width: 100%; height: auto;"
  data-controller="trip-map"
  data-trip-map-markers-value="<%= markers.to_json %>"
  data-trip-map-photos-value="<%= photos.to_json %>"
  data-trip-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
