
<div>

  <div class="feed_top">
    <p><%= @current_user.geocoder_object["address"]["city_district"]%></p>
    <p><strong><%= @users.length - 1%> travelpals </strong>around you</p>
    <form method="get" action="/home">
      <select name="radius" onChange="this.form.submit()">
        <option value="0">0 km radius</option>
        <option value="5">5 km radius</option>
        <option value="10">10 km radius</option>
        <option value="25">25 km radius</option>
        <option value="50">50 km radius</option>
      </select>
    </form>
  </div>

    <div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="social-tab" data-bs-toggle="tab" data-bs-target="#social-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Social</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="map-tab" data-bs-toggle="tab" data-bs-target="#map-tab-pane" type="button" role="tab" aria-controls="map-tab-pane" aria-selected="false">Map</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="social-tab" tabindex="0" id="social-tab-pane">
          <%= render 'social', current_user: @current_user, users: @users%>
        </div>
        <div class="tab-pane fade show" id="map-tab-pane" role="tabpanel" aria-labelledby="map-tab" tabindex="0">
          <%= render 'map', markers: @markers%>
        </div>
      </div>
  </div>

</div>
