<br>
<h1 style="text-align: center; font-size: 4rem; margin-top: 4rem; margin-bottom: 5rem">Travelpal</h1>
<br>
<%= image_tag("landing_page_screen.png", width: 318,
style: "display: block;
margin-left: auto;
margin-right: auto;") %>
<br>
<br>
<%= button_to "Sign up", new_user_registration_path, :class => "button", :method => :get %>
<br>
<%= button_to "Log In", new_user_session_path, :class => "button_log_in", :method => :get %>
