<p></p>

<div class="feed_top">
<h3>Location</h3>
<p> <strong>252 travelpals</strong> around you </p>
<div class="dropdown feed-top-dropdown">
  <button class="btn btn-secondary dropdown-toggle feed-top-dist-dropdown-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    5 km radius
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">10 km</a></li>
    <li><a class="dropdown-item" href="#">30 km</a></li>
    <li><a class="dropdown-item" href="#">50 km</a></li>
  </ul>
</div>
</div>

<p></p>

<button class="button" role="button">Example text</button>

<p></p>

<button class="button_log_in" role="button">Log in</button>

<p></p>
<br>

<ul class="navbar-buttons">
	<li>
    <button class="Feed">
      <i class="fa-solid fa-house"></i>
      <br>
      <span>Feed</span>
    </button>
  </li>

  <li>
    <button class="Around">
        <i class="fa-solid fa-location-dot"></i>
        <br>
        <span>Around</span>
    </button>
  </li>

  <li>
    <button class="Pic_of_day">

        <br>
        <span>Pic of the Day</span>
    </button>
  </li>

  <li>
    <button class="Chats">
        <i class="fa-solid fa-comments"></i>
        <br>
        <span>Chats</span>
    </button>
  </li>

  <li>
    <button class="Profile">
        <i class="fa-solid fa-user"></i>
        <br>
        <span>Profile</span>
    </button>
  </li>
</ul>

<p></p>

<body>
  <div class="Feed-card">
    <div class="Feed-card-header">
      <img src="https://kitt.lewagon.com/placeholder/users/wissam-nsr" class="Feed-card-user-image">
      <a class="Feed-card-user-name" href="__"> user.name </a>
      <div class="Feed-card-location">
      <i class="fa-solid fa-location-dot"></i>
      <strong>Location</strong>, 1km
      </div>
    </div>

    <div class="Feed-card-image">
      <img src= "https://static.independent.co.uk/2022/06/17/16/iStock-178749367%20%281%29.jpg" class="Feed-card-location-image">
    </div>
</body>
</html>

<p></p>

<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search..." style= "border-top-right-radius: 0.8rem; border-bottom-right-radius: 0.8rem;">
                </div>
                <ul class="list-unstyled chat-list mt-2 mb-0">
                    <li class="clearfix">
                        <img src="images/avatar_1.png" alt="avatar">
                        <div class="about">
                            <div class="name">Bob P.</div>
                            <div class="status"> <i class="fa fa-circle offline"></i> offline </div>
                        </div>
                    </li>
                    <li class="clearfix active">
                        <img src="images/avatar_2.png" alt="avatar">
                        <div class="about">
                            <div class="name">Aiden C.</div>
                            <div class="status"> <i class="fa fa-circle online"></i> online </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <img src="images/avatar_3.png" alt="avatar">
                        <div class="about">
                            <div class="name">Mike T.</div>
                            <div class="status"> <i class="fa fa-circle online"></i> online </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                <img src="avatar_4.png" alt="avatar">
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0">Aiden C.</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 hidden-sm text-right">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                        </div>
                    </div>
                </div>
                <div class="chat-history">
                    <ul class="m-b-0">
                        <li class="clearfix">
                            <div class="message-data text-right">
                                <span class="message-data-time">10:10 AM, Today</span>
                                <img src="" alt="avatar">
                            </div>
                            <div class="message other-message float-right"> Hi Aiden, how are you? Any new locations that you can recommend? </div>
                        </li>
                        <li class="clearfix">
                            <div class="message-data">
                                <span class="message-data-time">10:12 AM, Today</span>
                            </div>
                            <div class="message my-message">Yes, I have been great.</div>
                        </li>
                        <li class="clearfix">
                            <div class="message-data">
                                <span class="message-data-time">10:15 AM, Today</span>
                            </div>
                            <div class="message my-message">If you have not visited it yet, I recommend Bondi Beach!</div>
                        </li>
                    </ul>
                </div>
                <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter text here..." style= "border-top-right-radius: 0.8rem; border-bottom-right-radius: 0.8rem;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<ul class="navbar-buttons">
	<li>
    <button class="Feed">
      <i class="fa-solid fa-house"></i>
      <br>
      <span>Feed</span>
    </button>
  </li>

  <li>
    <button class="Around">
        <i class="fa-solid fa-location-dot"></i>
        <br>
        <span>Around</span>
    </button>
  </li>

  <li>
  <div class="Add">
    <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover" data-bs-html="true" data-bs-trigger="focus" id="example">
        <br>
        <span>Pic of the Day</span>
    </button>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <script>
      var popString = "";
      popString = popString + "<a href='#' class='btn btn-primary' id ='new_step'>New Step</a> <a href='#' class='btn btn-primary' id ='new_moment'>New Moment</a>";

      document.getElementById('example').setAttribute('data-bs-content', popString);

      $(document).ready(function() {
        $('[data-bs-toggle="popover"]').popover('show');
      });

    </script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </div>
  </li>

  <li>
    <button class="Chats">
        <i class="fa-solid fa-comments"></i>
        <br>
        <span>Chats</span>
    </button>
  </li>

  <li>
    <button class="Profile">
        <i class="fa-solid fa-user"></i>
        <br>
        <span>Profile</span>
    </button>
  </li>
</ul>
