.avatar {
  width: 4rem;
  border-radius: 50%;
}
.avatar-large {
  width: 5.6rem;
  border-radius: 50%;
}
.avatar-bordered {
  width: 4rem;
  border-radius: 50%;
  box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.2);
  border: white 0.1rem solid;
}
.avatar-square {
  width: 4rem;
  border-radius: 0;
  box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.2);
  border: white 0.1rem solid;
}
