.button {
	box-sizing: border-box;

  width: 32.1rem;
  height: 4.9rem;
  left: 0.4rem;
  top: 4rem;

  background: #FFFFFF;
  border: 0.07rem solid #000000;
  border-radius: 0.4rem;

  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.2rem;
  align-items: center;
  text-align: center;
}
