.button {
	box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 29.9rem;
  height: 4.9rem;
  left: 0.4rem;
  top: 4rem;

  background: #FFFFFF;
  border: 0.07rem solid #000000;
  border-radius: 0.4rem;

  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.2rem;
  align-items: center;
  text-align: center;
}

.show-tab {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 1.8rem;
  border-bottom: 0.5px solid #464646;
  color: #464646;
  i {
    padding-bottom: 1rem;
  }
  .active {
    color: #000000;
    border-bottom: 1px solid #000000;
  }
}

.tab-links {
  width: 100%;
  display: flex;
  // justify-content: space-between;
}

.nav-item {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.add-btn {
  height: 5rem;
  width: 5rem;
  margin-bottom: 2.6rem;
}

.add-step-btn {
  height: 3rem;
  width: 3rem;
}
