.button_log_in {
  width: 29.9rem;
  height: 4.9rem;
  left: 0.43rem;
  top: 66.2rem;

  background: #94BCAE;
  border-radius: 0.4rem;

  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.2rem;
  align-items: center;
  text-align: center;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
