body{
	background-color: #ffff;
	font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

.Feed-card{
	background: #ffffff;
	border: 0.1rem solid #ffffff;
	border-radius: 0.3rem;
	width: 100%;
	max-width: 60rem;
	margin: 1.5rem auto;
  box-shadow: 1px 1px 10px #00000040;
}

.Feed-card-header{
	padding: 0.3rem;
  border-radius: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.1rem;
}

.Feed-card-location-image{
	border-radius: 0.7rem;
	width: 100%;
	max-width: 60rem;
	margin-top: 0.5rem;
  height: 20rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1)
}

.Feed-card-user-image{
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	vertical-align: middle;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
}

.Feed-card-location{
	float: right;
	width: 14rem;
	padding-top: 1.3rem;
	text-align: right;
	color: #000000;

}

.Feed-card-user-name{
	margin-left: 0.8rem;
	font-weight:bold;
  color: #262626;
  font-size: 1.1rem;
}

.Feed-card-content{
  padding: 0.2rem;
}

.Feed-card-content-user{
  font-weight: bold;
  color: #262626;
}


.Feed-card-footer{
  padding: 0.2rem;
  display: flex;
  align-items: center;
}

hr{
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin-top: 0.3rem;
  margin-bottom: 0rem;
  padding-bottom: 0rem;

}

.feed-card-user-description{
	width: 15rem;
}
