// To style the wrapping div
.message-row {
  margin-bottom: 0.5rem;
  padding: 0.8rem;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 50%;
  max-width: 40rem;
  border-radius: 0.4rem;
  padding: 0.8rem;
  min-height: 4rem;
}

.sender-style {
  background-color: #a6cbbe;
  color: black
}

.receiver-style {
  background-color: #ded7d7;;
  color: black
}

// To style the show

.messages {
  height: calc(86vh - 89px);
  overflow: scroll;
  padding: 3rem 1rem;
}

.container-chatroom-page {
  background: asset_url('squared-paper-texture.jpg');
  height: 84vh;
  background-size: contain;
  position: relative;
}


.chatroom-style {
  border-bottom: solid darkgray;
}

.message-form {
  padding: 0rem 5rem;
  position: sticky;
  bottom: 77px;
}

.chatroom-banner {
  display: flex;
  gap: 1rem;
  align-items:flex-end;
  padding: 1.2rem;
  border-bottom: solid darkgray;
  background-color: white;
  }

  // To style the index

  .chatrooms {
    padding: 3rem;
  }

  .user-last-message {
    display: flex;
    width: 60%;
    flex-direction: column;
    font-size: 1.1rem;
  }

  .single-chatroom {
    display: flex;
    justify-content: space-between;
    border-bottom: 1mm ridge rgba(12, 12, 12, 0.731);
    padding: 1.5rem;
    align-items: center;
    background-color: white;
  }

  .user-banner {
    width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
