// To style the wrapping div
.message-row {
  margin-bottom: 0.5rem;
  padding: 0.8rem;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 50%;
  max-width: 40rem;
  border-radius: 0.4rem;
  padding: 0.8rem;
  min-height: 4rem;
}

.sender-style {
  background-color: #a6cbbe;
  color: black
}

.receiver-style {
  background-color: darkgrey;
  color: black
}

.container-chatroom {
  margin-top: 2rem;
  padding: 3rem;
}

.container-chatrooms {
  padding: 5rem;
}

.chatroom-style {
  border-bottom: solid darkgray;
}

.user-description {
  display: flex;
  justify-content: space-between;
  border-top: solid lightgray;
  padding: 1rem;
  align-items: center;
}

.user-banner {
  width: 30%;
display: flex;
flex-direction: column;
align-items: center;
}

.user-last-message {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.message-form {
position:sticky;
bottom: 8rem;
}

.chatroom-banner {
  display: flex;
  gap: 1rem;
  align-items:flex-end;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: light lightgray
  }
