
.card {
  background: #fff;
  transition: .5s;
  border: 0;
  margin-bottom: 3rem;
  border-radius: .55rem;
  position: relative;
  width: 100%;
}

.chat-app .people-list {
  width: 11.9rem;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0px;
  z-index: 7
}

.chat-app .chat {
  margin-left: 12.1rem;
  border-left: 0.1rem solid #eaeaea
}

.people-list {
  -moz-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s
}

.people-list .chat-list li {
  padding: 1rem 0.2rem;
  list-style: none;
  border-radius: 0.3rem
}

.people-list .chat-list li:hover {
  background: #efefef;
  cursor: pointer
}

.people-list .chat-list li .name {
  font-size: 1.5rem
}

.people-list .chat-list img {
  width: 4.5rem;
  border-radius: 50%
}

.people-list img {
  float: left;
  border-radius: 50%
}

.people-list .about {
  float: left;
  padding-left: 0.8rem
}

.people-list .status {
  color: #999;
  font-size: 1.3rem
}

.chat .chat-header {
  padding: 1rem 2rem;
  border-bottom: 0.2rem solid #f4f7f6
}

.chat .chat-header img {
  float: left;
  border-radius: 4rem;
  width: 4rem
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 1rem;
  line-height: 0.12rem
}

.chat .chat-history {
  padding: 2rem;
  border-bottom: 0.2rem solid #fff
}

.chat .chat-history ul {
  padding: 0
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 3rem
}

.chat .chat-history ul li:last-child {
  margin-bottom: 0px
}

.chat .chat-history .message-data {
  margin-bottom: 1.5rem
}

.chat .chat-history .message-data img {
  border-radius: 4rem;
  width: 4rem
}

.chat .chat-history .message-data-time {
  color: #434651;
  padding-left: 0.6rem
}

.chat .chat-history .message {
  color: #444;
  padding: 0.3rem 1rem;
  line-height: 1.4rem;
  font-size: 1rem;
  border-radius: 0.7rem;
  display: inline-block;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 1rem;
  margin-left: -1rem
}

.chat .chat-history .my-message {
  background: #efefef;
}

.chat .chat-history .my-message:after {
  bottom: 100%;
  left: 3rem;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 1rem;
  margin-left: -1rem
}

.chat .chat-history .other-message {
  background: #e8f1f3;
  text-align: right
}

.chat .chat-history .other-message:after {
  border-bottom-color: #e8f1f3;
  left: 93%
}

.chat .chat-message {
  padding: 1.6rem
}

.online,
.offline,
.me {
  margin-right: 0.2rem;
  font-size: 0.8rem;
  vertical-align: middle
}

.online {
  color: #86c541
}

.offline {
  color: #e47297
}

.me {
  color: #1d8ecd
}

.float-right {
  float: right
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

@media only screen and (max-width: 374px) {
  .chat-app .people-list {
      height: 11.9rem;
      width: 100%;
      overflow-x: auto;
      background: #fff;
      left: -40rem;
      display: none
  }
  .chat-app .people-list.open {
      left: 0
  }
  .chat-app .chat {
      margin: 0px;
  }
  .chat-app .chat .chat-header {
      border-radius: 0.55rem 0.55rem 0 0
  }
  .chat-app .chat-history {
      height: 30rem;
      overflow-x: auto
  }
}

@media only screen and (min-width: 374px) and (max-width: 992px) {
  .chat-app .chat-list {
      height: 46.5rem;
      overflow-x: auto
  }
  .chat-app .chat-history {
      height: 60rem;
      overflow-x: auto
  }
}
  .chat-app .chat-history {
      height: calc(93vh - 350px);
      overflow-x: auto
  }

.input-group-text {
  display: flex;
  align-items: center;
  padding: 1.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0E0000;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 0.1rem solid #ced4da;
  border-radius: 0.2rem;
}

.form-control {
border-top-left-radius: 0.8rem;
border-bottom-left-radius: 0.8rem;
}
