.screen {
  width: 100vw;
  background-image: asset_path('squared-paper-texture.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 28vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.flex-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem;
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.long-card {
  width: 100%;
  height: fit-content;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  h5 {
    margin-left: 1rem;
  }
}

.feed {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: asset_path('squared-paper-texture.jpg');
  background-position: cover;
}

.mapboxgl-map {
  overflow: visible !important;
}
