.icone-list {
  // width: 80%;
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  overflow: scroll;

  img {
    width: 5.5rem;
    height: 5.5rem;
    object-fit: cover;
  }

  i {
    font-size: 6.5rem;
  }

  h5 {
    font-size: 1.75rem;
    text-align: start;
  }
}
