<div>
<%= cl_image_tag moment.photo.key, transformation: [ width: 50, crop: "scale", dpr: "auto", responsive: "true", responsive_placeholder: "blank" , fetch_format: :auto ], height: 30, width: 30,class:"rounded-circle", alt: "Moment" %>
</div>
